/* styles.css */

h1 {
    font-size: 42px;
    color: brown;
}

a {
    color: black;
}

.recipeNames li a {
    color: black;
    font-style: none;
    font-size: 32px;
}

p {
    padding-left: 30px;
}